<div id="comments">
	{% case page.comment_count %}
		{% when 0 %}
		{% when 1 %}
    <h1><span itemprop="commentCount">1</span> Comment</h1>
		{% else %}
    <h1><span itemprop="commentCount">{{page.comment_count}}</span> Comments</h1>
	{% endcase %}
	{% for c in page.comments %}
		<div itemprop="comment" itemscope itemtype="https://schema.org/Comment" class="comment {% cycle 'odd', 'even' %}">
			{% assign comment_id = c.date | url_encode%}
			<a name="comment_{{comment_id}}"></a>

			<div class="comment_header">
				<cite itemprop="creator">{{c.name}}</cite>
				|
				<a itemprop="url" class="comment_permalink" href="{{site.url}}{{page.url}}#comment_{{comment_id}}" title="Permalink to this comment">Permalink</a>
				|
        <time itemprop="dateCreated" datetime="{{c.date}}" class="comment_date">{{c.date}}</time>
			</div>

			<div itemprop="text" class="comment_body">
        {{c.comment | markdownify | sanitize}}
			</div>

		</div>
	{% endfor %}
	 <h1>Post a comment</h1>
     <p style="font-style: italic">
     Send an email to <a href="mailto:{{site.commentMail}}">{{site.commentMail}}</a> with <code>{% case include.type %}{% when 'page' %}{{page.name}}{% else %}{{page.id}}{% endcase %}</code> as the title.
    <a href="/commenting/">More info</a>
     </p>
</div>
