<div>
	<h2><span itemprop="commentCount">{{ page.comment_count }}</span> comments</h2>
	{% for c in page.comments %}
		<div itemprop="comment" itemscope itemtype="https://schema.org/Comment" class="p-comment">
			{% assign comment_id = c.date | url_encode %}
			<a id="comment_{{comment_id}}" aria-hidden="true"></a>
			<div>
				<cite itemprop="creator">{{ c.name }}</cite>
				|
				<a itemprop="url" href="{{ page.url | absolute_url }}#comment_{{ comment_id }}">Permalink</a>
				|
				<time itemprop="dateCreated" datetime="{{ c.date }}">{{ c.date }}</time>
			</div>
			<div itemprop="text">
				{{ c.comment | markdownify }}
			</div>
		</div>
	{% endfor %}
	<h3>Post a comment</h3>
	<p>
		Send an email to <a href="mailto:{{site.commentMail}}">{{site.commentMail}}</a>.
	</p>
</div>
