<footer>
	<address itemscope itemtype="http://schema.org/Person" class="h-card">
		<data class="u-url" value="{{ "/" | relative_url }}"></data>
		<ul>
			<li itemprop="name" class="p-name">{{ site.author }}</li>
			<li><a itemprop="email" class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
			{% for acc in site.accounts %}
				<li>
					{{ acc.name }}: <a rel="me" href="{{ acc.url }}">{{ acc.username }}</a>
				</li>
			{% endfor %}
			{% for item in site.footer_data %}
				<li>
					{{ item.name }}: {{ item.value }}
				</li>
			{% endfor %}
		</ul>
	</address>
</footer>
