<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% if page.title %}
			{{ page.title | escape }} - {{ site.title | escape }}
		{% elsif page.layout == "tag_page" %}
			{{ page.tag }} - {{ site.title | escape }}
		{% else %}
			{{ site.title | escape }}
		{% endif %}
	</title>
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	{% if page.math %}
		<link rel="stylesheet" href="{{ "/assets/katex/katex.min.css" | relative_url }}">
	{% endif %}
	{% feed_meta %}
	{% seo title=false %}
</head>
