<header>
	<a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
	<nav>
		{% for my_page in site.pages %}
			{% if my_page.title %}
				<a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
			{% endif %}
		{% endfor %}
		<a href="{{ '/feed.xml' | relative_url }}">RSS</a>
	</nav>
</header>
