<section itemscope itemtype="https://schema.org/CollectionPage">
	<h1>{{ include.title }}</h1>
	<ul itemprop="mainEntity" itemscope itemtype="https://schema.org/ItemList" class="post-list">
		{% for post in include.posts %}
			<li itemscope itemtype="https://schema.org/BlogPosting" class="h-entry">
				<h2>
					<a itemprop="name headline mainEntityOfPage url" href="{{ post.url | relative_url }}" class="u-url">
						{{ post.title }}
					</a>
				</h2>
				<span class="post-meta">
					<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" class="dt-published">
						{{ post.date | date: "%b %-d, %Y" }}
					</time>
					<br />
					<span itemprop="keywords" class="tags p-category">
						{{ post | tags }}
					</span>
				</span>
				<br />
			</li>
		{% endfor %}
	</ul>
</section>
