/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1 {
	margin-bottom: 0;
}



/**
 * Images
 */
img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
	color: $brand-color;
	text-decoration: none;

	&:hover {
		color: $text-color;
	}
}



/**
 * Blockquotes
 */
blockquote {
	color: $grey-color;
	font-style: italic;
}



/**
 * Code formatting
 */
pre, code {
	background-color: #eef;
	overflow-x: auto;
}



/**
 * Basic styling & Wrapper
 */
body {
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	max-width: $content-width - $spacing-unit;
	margin: 0 auto;
	padding: 0 $spacing-unit / 2;
	color: $text-color;
	background: $background-color;
	-webkit-hyphens:auto;
	-ms-hyphens:auto;
	hyphens: auto;
}
