/**
 * Site header
 */
header {
	overflow: auto;
}

.site-title {
	font-size: 26px;
	line-height: 56px;

	&, &:visited {
		color: $grey-color-dark;
	}
}

nav {
	float: right;
	text-align: right;
	line-height: 56px;

	a {
		margin-left: 20px;
	}
}



/**
 * Site footer
 */
footer {
	border-top: 1px solid $grey-color-light;

	ul {
		list-style: none;
		padding: 0;
		color: $grey-color;
		text-align: center;
	}
}



/**
 * Page content
 */
.post-list {
	list-style: none;
	padding: 0;

	li {
		h2 {
			margin: 0;
		}

		br {
			clear: both;
		}
	}

	.post-meta {
		float: right;
		text-align: right;
		width: 100%;
	}
}

.post-meta {
	color: $grey-color;
	font-size: $small-font-size;
	margin: 0;
}
