---
---

@charset "utf-8";



// Our variables
$base-font-family: sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.8;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2070d8;

$grey-color:       #525252;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
// 	.wrapper {
// 		padding-right: $spacing-unit / 2;
// 		padding-left: $spacing-unit / 2;
// 	}
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
	@content;
	}
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"base",
	"layout"
;

