---
layout: default
sitemap:
  priority: 1.0
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li itemscope itemtype="https://schema.org/BlogPosting">
        <span class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>&nbsp;| Tags: <span itemprop="keywords" class="tags">{{ post | tags }}</span></span>

        <h2>
          <a itemprop="name headline mainEntityOfPage url" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
