---
layout: default
---

<article itemscope itemtype="https://schema.org/Article" class="post h-entry">
	<header>
		<a itemprop="mainEntityOfPage url" href="{{ page.url | prepend: site.baseurl }}" class="u-url u-uid" rel="bookmark">
			<h1 itemprop="name headline" class="p-name">
				{{ page.title }}
			</h1>
		</a>
		<p class="post-meta">
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="dt-published">
				{{ page.date | date: "%b %-d, %Y" }}
			</time> • 
			{% if page.last_modified_at %}
				<time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified" class="dt-modified">
					{{ page.last_modified_at | date: "%b %-d, %Y" }}
				</time> • 
			{% endif %}
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
				<span itemprop="name" class="p-author h-card">{{ site.author }}</span>
			</span>
			{% if page.path != "tags.html" %}
				 • 
				<a href="{{ page.path | replace: '_posts', 'posts' | prepend: '/sigs/' | append: '.asc' | relative_url }}">
					Signature
				</a>
			{% endif %}
		</p>
	</header>
	<div itemprop="articleBody text" class="e-body">
		{{ content }}
	</div>
</article>
