---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting" class="h-entry">
	<header>
		<a itemprop="mainEntityOfPage url" href="{{ page.url | relative_url }}" class="u-url u-uid" rel="bookmark">
			<h1 itemprop="name headline" class="p-name">
				{{ page.title }}
			</h1>
		</a>
		<p class="post-meta">
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="dt-published">
				{{ page.date | date: "%b %-d, %Y" }}
			</time> • 
			<time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified" class="dt-modified">
				{{ page.last_modified_at | date: "%b %-d, %Y" }}
			</time> • 
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
				<span itemprop="name" class="p-author h-card">{{ site.author }}</span>
			</span> • 
			<span itemprop="keywords" rel="tag" class="p-category"> {{ page | tags }}</span> • 
			<a href="{{ page.path | replace: '_posts', 'posts' | prepend: '/sigs/' | append: '.asc' | relative_url }}">
				Signature
			</a>
		</p>
	</header>
	<div itemprop="articleBody text" class="e-body">
		{{ content }}
	</div>
	<div>
		<h2>Related Posts</h2>
		<ul>
			{% for rel in site.related_posts limit: 5 %}
				<li>
					<a href="{{ rel.url | relative_url }}">
						{{ rel.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	{% include comment.html %}
</article>
