---
layout: default
---
<article itemscope itemtype="https://schema.org/Article" class="post">

  <header class="post-header">
    <h1 itemprop="name headline" class="post-title"><a itemprop="mainEntityOfPage url" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
    {% capture pubDate %}{{ page.date }}{% endcapture %}
    <p class="post-meta"><time datetime="{{ pubDate | date_to_xmlschema }}" itemprop="datePublished">{{ pubDate | date: "%b %-d, %Y" }}</time>{% if page.author %} • {% if page['moddate'] %}<time datetime="{{ page['moddate'] | date_to_xmlschema }}" itemprop="dateModified">{{ page['moddate'] | date: "%b %-d, %Y" }}</time> • {% endif %}<span itemprop="author publisher" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div itemprop="articleBody text" class="post-content">
    {{ content }}
  </div>
  {% include comment.html type='page' %}

</article>
