---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 itemprop="name headline" class="post-title"><a itemprop="mainEntityOfPage url" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • {% if page.moddate %}<time datetime="{{ page.moddate | date_to_xmlschema }}" itemprop="dateModified">{{ page.moddate | date: "%b %-d, %Y" }}</time> • {% endif %}<span itemprop="author publisher" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} • <span itemprop="keywords" class="tags">{{ page | tags }}</span></p>
  </header>

  <div class="post-content" itemprop="articleBody text">
    {{ content }}
  </div>
  {% include comment.html type='post' %}

</article>
