---
layout: default
---

<h1 class="page-heading"><a href="{{ page.tag | slugify | prepend: "/tag/" | prepend: site.baseurl | append: ".html" }}">{{ page.tag }}</a></h1>
<ul class="post-list">
  {% for post in page.posts %}
    <li itemscope itemtype="https://schema.org/BlogPosting">
      <span class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>&nbsp;| Tags: <span itemprop="keywords" class="tags">{{ post | tags }}</span></span>
      <h2>
        <a itemprop="name headline mainEntityOfPage url" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
  {% endfor %}
</ul>

